# IDE and editor files
.idea/
.vscode/

# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Database files
*.sqlite3

# Dataset files
datasets_chroma/

# Binary files
*.bin

# Environment variables
.env